    body {
        padding: 0;
        margin: 0;
    }
    
    .container {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: hsl(212, 45%, 89%);
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .box1 {
        height: 480px;
        width: 25%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5%;
        margin: auto;
        padding-top: 15px;
    }
    
    img {
        height: 50%;
        width: 90%;
        margin-left: 17px;
        border-radius: 5%;
    }
    
    .header {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .header1 {
        font-size: 20px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .para {
        text-align: center;
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1;
        font-weight: 300;
    }